.sidebar {
  background: var(--theme-color);
  width: 300px;
  position: fixed;
  height: 100%;
  top: 0;
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  a {
    color: inherit;
  }
}

.toggleSidebar {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  background: #36456b;
}

.sidebar_inner {
  padding: 2rem 1.75rem;
  position: relative;
}
/* brand */
.brand {
  display: flex;
  flex-direction: column;
  line-height: 1;
  img {
    width: 180px;
  }
  small {
    text-align: center;
    margin-right: 48px;
    opacity: 0.4;
  }
}
/* paths */
.paths {
  margin-top: 1.5rem;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 0.5rem;
      &.divider {
        opacity: 0.4;
        text-transform: uppercase;
        font-size: 0.875rem;
      }
      &.liner {
        height: 1px;
        background-color: white;
        opacity: 0.1;
        margin: 2rem 0;
        width: 100%;
        display: block;
      }
      a {
        display: flex;
        gap: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
        opacity: 0.7;
        &.activePath,
        &:hover {
          background: var(--theme-color-alt);
          opacity: 1;
        }
        i {
          font-size: 1.1rem;
        }
      }
    }
  }
}

/*  */
.user {
  display: flex;
  gap: 0.5rem;
  border-top: 1px solid #273762;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    small {
      opacity: 0.4;
    }
  }
}

.footer {
  margin-top: 1rem;
  img {
    width: 140px;
  }
}
